
<div class="row">
    
    <form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Index">

        <div class="form-group">
            <p>Aplikacja bezstratnej kompresji obrazów w formacie JPG, JPEG</p>
            <div class="col-md-10">

                <p>Wybierz pliki, które chcesz poddać kompresji</p>
                <input type="file" name="files" multiple>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <input type="submit" value="Upload">
            </div>
        </div>
    </form>
</div>

<div class="row" style="padding-top:60px;">
    <div class="col-md-4 ">
        <h4>Lorem ipsum</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elit lacus, fringilla non purus ut, porta mattis leo. Pellentesque porttitor porttitor accumsan. Donec a massa diam. Nullam consectetur mauris est, ut tempor turpis mattis eget. Vivamus vitae tincidunt sem. Donec malesuada purus ac arcu finibus congue. Praesent ac ex augue. </p>
        <button class="nav-link btn btn-link btn-white-border" asp-area="Identity" asp-controller="Account">Zobacz więcej</button>
    </div>
    <div class="col-md-4 ">
        <h4>Lorem ipsum</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elit lacus, fringilla non purus ut, porta mattis leo. Pellentesque porttitor porttitor accumsan. Donec a massa diam. Nullam consectetur mauris est, ut tempor turpis mattis eget. Vivamus vitae tincidunt sem. Donec malesuada purus ac arcu finibus congue. Praesent ac ex augue. </p>
        <button class="nav-link btn btn-link btn-white-border" asp-area="Identity" asp-controller="Account">Zobacz więcej</button>
    </div>
    <div class="col-md-4">
        <h4>Lorem ipsum</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elit lacus, fringilla non purus ut, porta mattis leo. Pellentesque porttitor porttitor accumsan. Donec a massa diam. Nullam consectetur mauris est, ut tempor turpis mattis eget. Vivamus vitae tincidunt sem. Donec malesuada purus ac arcu finibus congue. Praesent ac ex augue. </p>
        <button class="nav-link btn btn-link btn-white-border" asp-area="Identity" asp-controller="Account">Zobacz więcej</button>
    </div>
</div>



